<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      OCR con Ionic Cordova
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" shape="round" color="primary" (click)="captureImage()">Capturar imagen</ion-button>

  <ion-card>
    <ion-card-header>
      Texto reconocido
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="recognizedText">{{ recognizedText }}</div>
      <div *ngIf="!recognizedText">No hay texto reconocido.</div>
    </ion-card-content>
  </ion-card>
</ion-content>
 -->