<ion-content class="ion-padding" color="light">

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12" size-md="4" size-lg="2">
        <div class="logo-container">
          <div class="logo">
            <img src="assets/inlab_c.png" alt="Logo de la aplicación">
          </div>
          <div class="app-name">
            INLAB
          </div>
          
          <div class="app-developed">
            <span>INNOVA LAB </span>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="8" size-md="4" size-lg="2" offset="2">
        <div class="form-container">
  
          <ion-button expand="full" shape="round" color="primary"  routerLink="/dni-scanner">Registrarse</ion-button>
          <br>
          <ion-button expand="full" shape="round" fill="outline" color="primary"  routerLink="/login">Ingresar</ion-button>
        </div>      
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="12" size-md="4" size-lg="2"  class="ion-align-self-center">
        <div class="footer-container">
          <div class="footer">
            <img src="assets/unsa_a.png" alt="Logo de la aplicación">
          </div>   
          <div class="app-developed">
            Desarrollado por DITT
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  

  
  
  
</ion-content>




