
  .back-button {
    position: absolute;
    top: 25px;
    left: 25px;
    --border-radius: 100%;
    width: 45px;
    height: 45px;
  }  

  ion-content {
    --background: #FFFFFF; /* Color de fondo del contenido */
  }
  
  ion-button {
    --background: #651d32; /* Color de fondo del botón */
    color: #FFFFFF; /* Color de texto del botón */
  }


  /* login.page.scss */

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px; /* Márgen superior */
    margin-bottom: 50px; /* Márgen inferior */
  }
  
  .logo img {
    max-width: 215px; /* Ajusta el tamaño del logo según tus necesidades */
  }
  
  .app-name {
    font-size: 22px;
    margin-top: 20px; /* Márgen superior para el nombre de la aplicación */
    font-weight: bold;
  }
  
  .app-developed {
    font-size: 11px;
    margin-top: 5px; /* Márgen superior para el texto de "Desarrollado por DITT" */
    color: #666; /* Color opcional para el texto */
  }

  .rounded-input ion-input {
    --border-radius: 55px; /* Ajusta el valor según tu preferencia */
  }

  .rounded-in {
    --border-radius: 55px; /* Ajusta el valor según tu preferencia */
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px; /* Márgen superior */
  }

  .password-recovery{
    font-size: 11px;
    margin-top: 5px; /* Márgen superior para el texto de "Desarrollado por DITT" */
    color: #666;
    text-align: center;
  }
  
  