<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
 -->
<!-- login.page.html -->

<ion-content class="ion-padding" color="light">

  <!-- Botón de regreso en la esquina superior derecha -->
  <ion-button class="back-button" fill="clear" (click)="goBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>

  <div class="logo-container">
    <div class="logo">
      <img src="assets/unsa_a.png" alt="Logo de la aplicación">
    </div>
    <div class="app-name">
      INNOCHECK
    </div>
    <div class="app-developed">
      Desarrollado por DITT
    </div>
  </div>

  <div class="form-container">
    <form (ngSubmit)="login()">
      <ion-item class="rounded-input">
        <ion-label position="floating">DNI</ion-label>
        <ion-input type="text" [(ngModel)]="dni" name="dni" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>
      <br>
      <ion-button expand="full" type="submit">Ingresar</ion-button>
    </form>
  
    <!-- Enlace de recuperación de contraseña -->
    <a class="password-recovery" fill="clear" (click)="recoverPassword()">
      ¿Olvidaste tu contraseña?
    </a>
  </div>
  
</ion-content>




