<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
 -->

 <ion-content class="ion-padding" color="light">

  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12" size-md="4" size-lg="2">
        <div class="logo-container">
          <div class="logo">
            <img src="assets/inlab_c.png" alt="Logo de la aplicación">
          </div>
          <div class="app-name">
            Control
          </div>
          
          <div class="app-developed">
            <span>REGISTRAR SALIDAS ENTRADAS </span>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col size="8" size-md="4" size-lg="2" offset="2">
        <div class="form-container">
          <ion-button expand="full" shape="round" color="primary" (click)="registrarEntrada()">Registrar Entrada</ion-button>
          <br>
          <ion-button expand="full" shape="round" fill="outline" color="primary" (click)="registrarSalida()">Registrar Salida</ion-button>
        </div>      
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
